body{
    background-color: rgb(50, 154, 83);
}

h1{
    color: white;
    text-align: center;
    justify-content: center;
}

a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: center;
    color: aliceblue;
    font-size: 90px;
    align-items: center;
}